.banner{
    min-width: 1200px;
    width: 100%;
}
.banner img{
    width: 100%;
}
.hot-product{
    margin-bottom: 40px;
}
.hot-product .title{
    font-size: 20px;
    font-weight: 200px;
    margin: 5px 0;
	text-align: left;
}

.product-list{
    display: flex;
}

.hot-product-left{
    width: 500px;
    flex: 0 0 500px;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
}

.hot-product-left .text{
    margin: 20px 0 40px;
}

.hot-product-left .dieline{
    color: #cdcdcd;
    font-size: 40px;
}

.hot-product-left img{
    width: 100%;
}

.hot-product-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hot-product-right .right-item{
    width: 30%;
    text-align: center;
    border: 1px solid #efefef;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.right-item:nth-child(n+7){
    margin-bottom: 0;
}
.hot-product-right .right-item img{
    width: 100%;
    height: 200px;
    cursor: pointer;
}
.hot-product-right .right-item .intro{
    font-size: 10px;
    text-transform: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
	float: left;
}
.hot-product-right .right-item .price{
    color: black;
    margin-bottom: 10px;
	float: left;
	font-size: 10px;
}

/* 图片显示 */
.showProduct{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: none; */
    /* 缩小为0 */
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}
.showProduct img{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}